.searchresults {
  background-color: #e6ff99;
}
.nominations {
  background-color: #b3ffff;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(80, 255, 182);
  color: white;
  text-align: center;
}
